@charset "utf-8";
/* CSS Document */

body{
	background:rgb(238, 238, 238);
}

.del{
    text-align: center;
}

.inscription{
    text-align: center;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	//margin-top:90px;
    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:rgb(135, 46, 144) ;
    text-align: center;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
	/* //border:solid red 1px; */
	margin-top:110px;
}

.navbar-brand{
	font-family:"Lucida Handwriting";
}

#btn-submit{
	height:20px;
    text-align: right;
}

#user_pay{
    text-align: center;
}

.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
}
a{
    color: rgb(135, 46, 144);
}

a[for="link"]{
    line-height: 45px !important;
}


