<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <a class="pull-left"><img src="img/educacont-logo.png"></a> 
        <li><a for="link" href="alumns.php">Lista de alumnos</a></li>
        <li><a for="link" href="courses.php">Cursos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a for="link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           <span class="glyphicon glyphicon-user"></span>&nbsp;Hola <?php echo $userRow['user_name']; ?>&nbsp;<span class="caret"></span></a>
           <ul class="dropdown-menu">
            <!-- <li><a href="profile.php"><span class="glyphicon glyphicon-user"></span>&nbsp;Ver perfil</a></li> -->
            <li><a href="logout.php?logout=true"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>